---
import TeamRadarChart from "../../../../components/charts/TeamRadarChart.svelte";
import DarkModeLogos from "../../../../components/DarkModeLogos.astro";
import GameThumb from "../../../../components/schedule/GameThumb.astro";
import TeamPassingTable from "../../../../components/team/tables/TeamPassingTable.astro";
import TeamRushingTable from "../../../../components/team/tables/TeamRushingTable.astro";
import TeamReceivingTable from "../../../../components/team/tables/TeamReceivingTable.astro";
import type { PageBreadcrumb } from "../../../../layouts/GenericPage.astro";
import GenericPage from "../../../../layouts/GenericPage.astro";
import GenericPanel from "../../../../layouts/panel/GenericPanel.astro";
import { retrieveTeamInformation, retrieveTeamSeasonInformation, type ESPNScheduleEvent } from "../../../../resources/espn";
import SummaryModel, { type PlayerStatistics, type PlayerSummary, type ReceivingStats, type SeasonPercentile } from "../../../../resources/summary";
import { cleanLocation, roundNumber } from "../../../../utils/misc";
import TeamCard from "../../../../components/team/TeamCard.astro";
import TeamPlayerCard from "../../../../components/team/TeamPlayerCard.astro";
import type { PassingStats } from "../../../../resources/summary";

const { year, id } = Astro.params;
if (!year) {
    return Astro.redirect("/404");
}
if (!id) {
    return Astro.redirect("/404");
}

const team = await retrieveTeamInformation(id)
const teamSeason = await retrieveTeamSeasonInformation(year, id)
const breadcrumbs: PageBreadcrumb[] = [
    {
        title: "Teams",
        url: "/teams",
        active: false
    },
    {
        title: cleanLocation(team),
        url: `/team/${id}`,
        active: false
    },
    {
        title: year,
        url: `/year/${year}/team/${id}`,
        active: true
    }
]


const teamSummaries = await SummaryModel.retrieveTeamData({ team: Number(id), year: Number(year) })
if (!teamSummaries) {
    return Astro.redirect('/404');
}
const teamData = teamSummaries.map((t:any) => {
    t.color = team.color
    t.alternateColor = team.alternateColor
    t.teamName = cleanLocation(team)
    return t
})

const passers: PlayerSummary[] = await SummaryModel.retrievePlayerData({team: Number(id), year: Number(year), type:'passing'});
const rushers: PlayerSummary[] = await SummaryModel.retrievePlayerData({team: Number(id), year: Number(year), type:'rushing'});
const receivers: PlayerSummary[] = await SummaryModel.retrievePlayerData({team: Number(id), year: Number(year), type:'receiving'});

const leadingPasser: PlayerSummary | null = (passers.length == 0) ? null : passers.toSorted((a, b) => b.statistics.plays - a.statistics.plays)[0];
const leadingRusher: PlayerSummary | null = (rushers.length == 0) ? null : rushers.toSorted((a, b) => b.statistics.plays - a.statistics.plays)[0];
const leadingReceiver: PlayerSummary | null = (receivers.length == 0) ? null :  receivers.toSorted((a, b) => b.statistics.plays - a.statistics.plays)[0];

const leaders = [
    leadingPasser == null ? null : { 
        playerId: leadingPasser.playerId, 
        name: leadingPasser.name, 
        title: "Passing", 
        subtitle: `${roundNumber(leadingPasser.advanced.epaPerPlay, 2, 2)} EPA/Play, ${roundNumber(100 * ((leadingPasser.statistics as PassingStats).completionPct), 2, 1)}% Comp, ${leadingPasser.statistics.yards} yd${ (Math.abs(leadingPasser.statistics.yards) == 1) ? "" : "s"}, ${leadingPasser.statistics.touchdowns} TD`
    },
    leadingRusher == null ? null : { 
        playerId: leadingRusher.playerId, 
        name: leadingRusher.name, 
        title: "Rushing", 
        subtitle: `${roundNumber(leadingRusher.advanced.epaPerPlay, 2, 2)} EPA/Play, ${leadingRusher.statistics.plays} Car, ${leadingRusher.statistics.yards} yd${ (Math.abs(leadingRusher.statistics.yards) == 1) ? "" : "s"}, ${leadingRusher.statistics.touchdowns} TD`
    },
    leadingReceiver == null ? null : { 
        playerId: leadingReceiver.playerId, 
        name: leadingReceiver.name, 
        title: "Receiving", 
        subtitle: `${roundNumber(leadingReceiver.advanced.epaPerPlay, 2, 2)} EPA/Play, ${leadingReceiver.statistics.plays} Cat, ${leadingReceiver.statistics.yards} yd${ (Math.abs(leadingReceiver.statistics.yards) == 1) ? "" : "s"}, ${leadingReceiver.statistics.touchdowns} TD`
    }
].filter(d => !!d)

---

<GenericPage title={`${cleanLocation(team)} | ${year} | Game on Paper`} subtitle={`${year} season information for ${cleanLocation(team)}`} slug={`/year/${year}/team/${id}`} breadcrumbs={breadcrumbs}>
    <DarkModeLogos teamIds={[team.id]} />
    <div class="container">
        <div class="row my-3">
            <div class="col-lg-4 col-md-12 mb-md-3 mb-lg-0 margin-override">
                <TeamCard team={team} season={year} teamSeasonData={teamSeason} summary={teamSummaries[0]} hideNavigation={true} />
            </div>
            <div class="col-lg-8 col-md-12">
                <TeamPlayerCard team={team} season={year} players={leaders} />
            </div>
        </div>
    </div>
    <div class="container">
        <GenericPanel id="radar" title="Profile">
            <p slot="panel-subtitle" class="text-muted text-small m-0">Data from <a href="https://github.com/sportsdataverse/cfbfastR">cfbfastR</a> and <a href="https://collegefootballdata.com">collegefootballdata.com</a>. Based on <a href="https://twitter.com/ESPN_BillC">Bill Connelly</a>'s team profile radars (<a href="https://www.sbnation.com/college-football/2018/7/16/17532360/georgia-tech-football-2018-preview-schedule-roster">example</a>).</p>
            <TeamRadarChart slot="panel-body" client:only team={team} teamData={teamData} />
        </GenericPanel>
    </div>
    <div class="container">
        <TeamPassingTable players={passers.filter(p => p.name != "NA").toSorted((a, b) => b.statistics.plays - a.statistics.plays)} />
        <TeamRushingTable players={rushers.filter(p => p.name != "NA").toSorted((a, b) => b.statistics.plays - a.statistics.plays)} />
        <TeamReceivingTable players={receivers.filter(p => p.name != "NA").toSorted((a, b) => b.statistics.plays - a.statistics.plays)} />
    </div>
    <div class="container mb-3">
        <GenericPanel id="schedule" title="Schedule">
        <div class="row mb-3" slot="panel-body">
            {
                (teamSeason.events.length > 0) && (teamSeason.events.map(((g: ESPNScheduleEvent) => <GameThumb game={g} />)))
            }
            {
                (teamSeason.events.length == 0) && <p class="text-center text-muted">No games scheduled.</p>
            }
        </div>
        </GenericPanel>
    </div>
    
</GenericPage>