---
import TeamTrendsChart from "../../components/charts/TeamTrendsChart.svelte";
import GenericPage, { type PageBreadcrumb } from "../../layouts/GenericPage.astro";
import type { SeasonPercentile, TeamSummary } from "../../resources/summary";
import { cleanLocation, retrieveValue, roundNumber, generateColorRampValue } from "../../utils/misc";
import { formatRank } from "../../utils/common";
import SummaryModel from "../../resources/summary";
import TeamRadarChart from "../../components/charts/TeamRadarChart.svelte";
import DarkModeLogos from "../../components/DarkModeLogos.astro";
import { retrieveTeamInformation } from "../../resources/espn";

const { id } = Astro.params;
if (!id) {
    return Astro.redirect("/404");
}

const team = await retrieveTeamInformation(id)

const breadcrumbs: PageBreadcrumb[] = [
    {
        title: "Teams",
        url: "/teams",
        active: false
    },
    {
        title: cleanLocation(team),
        active: true
    }
]

let allPctls: SeasonPercentile[] = []
for (const p of [0.01, 0.25, 0.5, 0.75, 0.99]) {
    const percentiles = await SummaryModel.retrievePercentiles({ pctile: p });
    allPctls = allPctls.concat(percentiles);
}

let teamData = await SummaryModel.retrieveTeamData({ team: Number(id) })
teamData = teamData.map((t:any) => {
    t.color = team.color
    t.alternateColor = team.alternateColor
    t.teamName = cleanLocation(team)
    return t
})

// console.log(selectedPercentiles)
let availableSeasons = teamData.map(b => b.season)
availableSeasons = [...new Set(availableSeasons)].sort();
const yearRange = availableSeasons.length > 1 ? `${availableSeasons[0]} to ${availableSeasons[availableSeasons.length - 1]}` : `${availableSeasons[0]}`

function createSeasonColumn(summary: TeamSummary, key: string): string {
    const val = roundNumber(retrieveValue(summary, key), 2, 2)
    const rank = retrieveValue(summary, `${key}Rank`)

    const colorRampClass = generateColorRampValue(parseInt(rank), 134, true)
    const rankStr = formatRank(parseInt(rank))
    return `
    <td class="numeral ${colorRampClass}" style="text-align: center;">${val} <small class="align-self-center" style="opacity: 50%">#${rankStr}</small></td>
    `
}

function createSeasonRow(summary: TeamSummary): string {
    const cols = ["differential.overall.epaPerPlay", "offensive.overall.epaPerPlay", "defensive.overall.epaPerPlay"].map(x => createSeasonColumn(summary, x)).join("")
    return `
    <tr>
        <td><a href="/year/${summary.season}/team/${team.id}">${summary.season}</a></td>
        ${cols}
    </tr>
    `
}

---

<GenericPage title={`${cleanLocation(team)} | ${yearRange} | Game on Paper`} subtitle={`Team level metric history`} slug={`/team/${team.id}`} breadcrumbs={breadcrumbs}>
    <DarkModeLogos teamIds={[team.id]} />
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6 col-xs-12 mb-xs-3">
                <h1 class="d-flex"><img class={`img-fluid team-logo-${team.id} me-2`} width="50px" src={`https://a.espncdn.com/i/teamlogos/ncaa/500/${team.id}.png`} alt={`ESPN team id ${team.id}`}/> <span class="ms-1">{cleanLocation(team)}</span></h1>
                <p class="m-0 text-muted"><strong>Available Seasons:</strong> {yearRange} - Data shown is from FBS vs FBS games only.</p>
                <p class="m-0 text-muted text-small game-context">Last updated: <abbr title="If this is more than one week out of date during the season, please let us know at @gameonpaper on Twitter."><span class="game-date">{SummaryModel.last_updated}</span></abbr></p>
            </div>
            <div class="col-lg-6 col-xs-12 mb-xs-3">
                <p class="m-0 mb-2 text-muted text-small">Data from <a href="https://github.com/sportsdataverse/cfbfastR">cfbfastR</a>, may differ from ESPN due to data availability/quality. Note: other than for Adj EPA/Play, metrics are <strong>not</strong> adjusted for quality of opponent or garbage time.</p>
                <p class="m-0 mb-2 text-muted text-small">Adj EPA/Play methodology adapted from <a href="https://makennnahack.github.io/makenna-hack.github.io/publications/opp_adj_rank_project/">this article</a> by <a href="https://twitter.com/makennnahack">Makenna Hack</a> and <a href="https://blog.collegefootballdata.com/opponent-adjusted-stats-ridge-regression/">this article</a> from <a href="https://twitter.com/jbuddavis">Bud Davis</a>, accounting for home-field advantage, quality of opponent, and garbage time. Only considers FBS vs FBS games -- as a result, adj EPA/Play and normal EPA/Play numbers may differ significantly until all teams have played multiple FBS vs FBS games.</p>
            </div>
        </div>
    </div>
    <TeamTrendsChart client:only title={cleanLocation(team)} teamColor={"#B3A369"} teamData={teamData} percentiles={allPctls} />
    <TeamRadarChart client:only team={team} teamData={teamData} showSeasonPicker={true} />
    <div class="container mb-3">
        <div class="row mb-3">
            <div class="col-12">
                <h2 class="d-inline">Seasons</h2>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-sm table-responsive">
                        <thead>
                            <th class="text-left" colspan="1">Season</th>
                            <th class="text-center" colspan="1">Net EPA/Play (Rk)</th>
                            <th class="text-center" colspan="1">Off EPA/Play (Rk)</th>
                            <th class="text-center" colspan="1">Def EPA/Play (Rk)</th>
                        </thead>
                        <tbody>
                            {
                                teamData.map(t => <Fragment set:html={createSeasonRow(t)} />)
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</GenericPage>
