<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="/assets/css/dashboard.css" rel="stylesheet">
        <link href="/assets/css/blog.css" rel="stylesheet">
        <link href="/assets/css/dark-game.css" rel="stylesheet">
        <link href="/assets/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

        <%
            let leaderTitle = "Adj EPA/Play Comparison"
            let title = `${leaderTitle} | ${season} | Game on Paper`
            let subtitle = `${leaderTitle} during the ${season} season`;
        %>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="referrer" content="origin-when-cross-origin">
        <link rel="canonical" href="https://gameonpaper.com/cfb/year/<%= season %>/teams">
        <title><%= title %></title>
        <meta name="description" content="<%= subtitle %>">

        <meta property="og:site_name" content="GameOnPaper.com">
        <meta property="og:url" content="https://gameonpaper.com/cfb/year/<%= season %>/teams">
        <meta property="og:title" content="<%= title %>">
        <meta property="og:description" content="<%= subtitle %>">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:type" content="website">
        <meta name="twitter:site" content="Game on Paper">
        <meta name="twitter:url" content="https://gameonpaper.com/cfb/year/<%= season %>/teams">
        <meta name="twitter:title" content="<%= title %>">
        <meta name="twitter:description" content="<%= subtitle %>">
        <meta name="twitter:card" content="summary">
        <meta name="title" content="<%= title %>">
        <meta name="medium" content="website">
        <script defer data-domain="gameonpaper.com" src="https://plausible.io/js/script.js"></script>
        <style>
            @media (prefers-color-scheme: dark) {
            <% teams.forEach(t => {  %>
                img.team-logo-<%= t.teamId %> {
                    content: url('https://a.espncdn.com/i/teamlogos/ncaa/500-dark/<%= t.teamId %>.png')
                }
            <% }); %>
            }
            /* img.team-logo-153 {
                content: url('/assets/img/crying-jordan.png');
            }   */
            img.team-logo-61 {
                content: url('/assets/img/ennui-uga.png');
                /* Sourced from the Moon Crew Discord server */
            }
            img.team-logo-52 {
                content: url('/assets/img/fsu-face-52.png');
            }
        </style>
    </head>
    <body>
        <%- include('../../partials/nav-header') %>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item" aria-current="page">Seasons</li>
                  <li class="breadcrumb-item" aria-current="page"><a href="/cfb/year/<%= season %>"><%= season %></a></li>
                  <li class="breadcrumb-item" aria-current="page"><a href="/cfb/year/<%= season %>/epa"><%= leaderTitle %></a></li>
                </ol>
            </nav>
        </div>
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-6 col-xs-12 mb-xs-3">
                    <h2><%= leaderTitle %> <span class="d-inline text-muted h6"><small> <abbr title="Please report any issues/feedback to @gameonpaper on Twitter!">(Beta)</abbr></small></span></h2>
                    <p class="m-0 mb-2 text-muted text-small">Data from <a href="https://github.com/sportsdataverse/cfbfastR">cfbfastR</a>, may differ from ESPN due to data availability/quality. Note: other than for Adj EPA/Play, metrics are <strong>not</strong> adjusted for quality of opponent or garbage time.</p>
                    <p class="m-0 mb-2 text-muted text-small">Adj EPA/Play methodology adapted from <a href="https://makennnahack.github.io/makenna-hack.github.io/publications/opp_adj_rank_project/">this article</a> by <a href="https://twitter.com/makennnahack">Makenna Hack</a>, accounting for home-field advantage, quality of opponent, and garbage time. Only considers FBS vs FBS games -- FBS teams that have not played FBS opponents are at the bottom.</p>
                    <p class="mt-0 text-muted text-small game-context">Last updated: <abbr title="If this is more than one week out of date during the season, please let us know at @gameonpaper on Twitter."><span class="game-date"><%= last_updated %></span></abbr></p>
                </div>
                <div class="ms-auto col-lg-6 col-xs-12">
                    <form class="mb-3 d-flex justify-content-lg-end justify-content-xs-start" id="dropdown-form">
                        <div class="row">
                            <div class="col-auto mb-xs-3 mb-sm-0">
                                <%
                                // https://stackoverflow.com/questions/8273047/javascript-function-similar-to-python-range
                                let range = (start, end) => Array.from(Array(end + 1).keys()).slice(start); 
                                let yrRange = range(2014, 2024); // data only goes back to 2014
                                %>
                                <select class="form-select form-select-md mb-3" id="yearSelect">
                                    <option value="-1">Choose Season...</option>
                                    <% yrRange.reverse().forEach(yr => { %>
                                        <option value="<%= yr %>" <%= (yr == season) ? "selected": ""%>><%= yr %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-10 offset-lg-1 col-xs-12">
                    <canvas id="p4_chart_canvas" style="display: block; box-sizing: border-box; height: 1200px; width: 800px;"  width="1200" height="800"></canvas>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-10 offset-lg-1 col-xs-12">
                    <canvas id="g6_chart_canvas" style="display: block; box-sizing: border-box; height: 1200px; width: 800px;"  width="1200" height="800"></canvas>
                </div>
            </div>
        </div>

        <%- include('../../partials/footer') %>
        <%- include('../../partials/scripts') %>
        <script src="/assets/js/date-replace.js"></script>
        <script src="/assets/js/feather.min.js" crossorigin="anonymous"></script>
        <script src="/assets/js/Chart.min.js" crossorigin="anonymous"></script>
        <script src="/assets/js/epa_chart.js" crossorigin="anonymous"></script>
        <script>
            const teams = <%- JSON.stringify(teams) %>;
            (function() {
                'use strict'
                feather.replace()
                const season = <%= season %>;
                if (season == 2024) {
                    const p4 = teams.filter(t => t.adjOffEpa && t.adjDefEpa && t.fbsClass == 'P4');
                    const g6 = teams.filter(t => t.adjOffEpa && t.adjDefEpa && t.fbsClass != 'P4');
                    
                    const p4Chart = new Chart(
                        document.getElementById('p4_chart_canvas'), 
                        generateConfig("Opponent Adjusted EPA/Play (P4) - <%= season %>", p4)
                    );
                    const g6Chart = new Chart(
                        document.getElementById('g6_chart_canvas'), 
                        generateConfig("Opponent Adjusted EPA/Play (G6) - <%= season %>", g6)
                    );
                } else {
                    const p5 = teams.filter(t => t.adjOffEpa && t.adjDefEpa && t.fbsClass == 'P5');
                    const g5 = teams.filter(t => t.adjOffEpa && t.adjDefEpa && t.fbsClass != 'P5');
                    
                    const p5Chart = new Chart(
                        document.getElementById('p4_chart_canvas'), 
                        generateConfig("Opponent Adjusted EPA/Play (P5) - <%= season %>", p5)
                    );
                    const g5Chart = new Chart(
                        document.getElementById('g6_chart_canvas'), 
                        generateConfig("Opponent Adjusted EPA/Play (G5) - <%= season %>", g5)
                    );
                }



            })()
        </script>
        <script> 
            document.getElementById("yearSelect").addEventListener("change", function(e) {
                e.preventDefault()

                var seasonKey = document.getElementById("yearSelect").value;
                if (seasonKey != "-1" && seasonKey != -1) {
                    let cleanWindowLocation = window.location.href.replace("<%= season %>", seasonKey)
                    cleanWindowLocation = cleanWindowLocation.split("?")[0] // reset entirely
                    window.location = cleanWindowLocation;
                }
            });
        </script>
    </body>
</html>
