<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="/assets/css/dashboard.css" rel="stylesheet">
        <link href="/assets/css/blog.css" rel="stylesheet">
        <link href="/assets/css/dark-game.css" rel="stylesheet"> 
        <link href="/assets/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> 
    
        <%
            let title = `Glossary | College Football | Game on Paper`;
            let subtitle = 'Advanced stats glossary for college football';
        %>
    
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="referrer" content="origin-when-cross-origin">
        <link rel="canonical" href="https://gameonpaper.com/cfb/glossary">
        <title><%= title %></title>
        <meta name="description" content="<%= subtitle %>">
    
        <meta property="og:site_name" content="GameOnPaper.com">
        <meta property="og:url" content="https://gameonpaper.com/cfb/glossary">
        <meta property="og:title" content="<%= title %>">
        <meta property="og:description" content="<%= subtitle %>">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:type" content="website">
        <meta name="twitter:site" content="Game on Paper">
        <meta name="twitter:url" content="https://gameonpaper.com/cfb/glossary">
        <meta name="twitter:title" content="<%= title %>">
        <meta name="twitter:description" content="<%= subtitle %>">
        <meta name="twitter:card" content="summary">
        <meta name="title" content="<%= title %>">
        <meta name="medium" content="website">
    </head>
    <body>
        <%- include('../../partials/nav-header') %>
        <div class="container-fluid">
            <!-- <div class="nav-scroller py-1 mb-3"> -->
                <nav class="nav d-flex justify-content-center">
                    <%  Object.keys(glossary).forEach((k, idx, arr) => { %>
                        <a class="link-primary p-2" href="#glossary-section-<%= k %>"><%= k.toUpperCase() %></a>
                        <% if (idx != arr.length - 1) { %>
                            <span class="p align-self-center">&#9899;</span>
                        <% } %>
                    <% }); %>
                </nav>
            <!-- </div> -->
        </div>
        <div class="container">
            <%  Object.keys(glossary).forEach((k, idx) => { %>
                <h2 id="glossary-section-<%= k %>"><%= k.toUpperCase() %></h2>
                <% let records = glossary[k]; %>
                <% records.forEach(r => { %>
                    <dl class="row">
                        <% if (r.source) { %>
                            <dt class="col-sm-3"><a href="<%= r.source %>"><%= r.term %></a></dt>
                        <% } else { %>
                            <dt class="col-sm-3"><%= r.term %></dt>
                        <% } %>
                        <dd class="col-sm-9"><%- r.definition %></dd>
                    </dl>
                <% }); %>
            <% }); %>
        </div>


        <%- include('../../partials/footer') %>
        <%- include('../../partials/scripts') %>  
    </body>
</html>