<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>College Football | Game on Paper</title>  
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="/assets/css/index.css" rel="stylesheet">  
    </head>
    <body>
        <% 
        // https://stackoverflow.com/questions/8273047/javascript-function-similar-to-python-range
        let range = (start, end) => Array.from(Array(end + 1).keys()).slice(start); 
        %>
        <div class="container-fluid">
            <div class="row text-center mb-3">
                <div class="form-signin col-12">
                    <h1 class="mb-3 fw-normal">Game on Paper</h1>
                    <form id="game-id-form">
                        <label for="inputGameId" class="visually-hidden">Game ID</label>
                        <input type="text" id="inputGameId" class="form-control mb-3" placeholder="Provide a valid ESPN Game ID for a CFB game" required="">
                        <button class="w-100 btn btn-lg btn-primary" type="submit">View Stats</button>
                    </form>
                </div>
            </div>
            <div class="row mb-1">
                <h3 class="text-center"> -- OR -- </h3>
            </div>
            <form class="row gx-3 row-cols-sm-auto mb-3 align-items-center form-picker" id="dropdown-form">
                <div class="col-12 mb-xs-3 mb-sm-0">
                    <select class="form-select form-select-lg" id="yearSelect">
                        <option value="-1"<%= (year == null) ? " selected" : "" %>>Choose Season...</option>
                        <% let yrRange = range(2002, 2020); %>
                        <% yrRange.reverse().forEach(yr => { %>
                            <option value="<%= yr %>"<%= (year == yr) ? " selected" : "" %>><%= yr %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="col-12 mb-xs-3 mb-sm-0">
                    <select class="form-select form-select-lg" id="weekSelect">
                        <option value="-1"<%= (week == null || seasontype == null) ? " selected" : "" %>>Choose Week...</option>
                        <% weekList.forEach(wk => { %>
                            <% if (!wk.label.includes("Bowls")) { %>
                                <option value="<%= wk.type %>;<%= wk.value %>"<%= (week == wk && parseInt(seasontype) == parseInt("2")) ? " selected" : "" %>><%= wk.label %></option>
                            <% } %>
                        <% }) %>
                        <option value="3;1"<%= (parseInt(seasontype) == parseInt("3")) ? " selected" : "" %>>Bowls</option>
                    </select>
                </div>
                <div class="col-12 mb-xs-3 mb-sm-0">
                    <button type="submit" class="btn btn-lg btn-primary">View</button>
                </div>
            </form>
            <div class="row mb-3">
                <% 
                function generateTeamImg(teamId) {
                    return `<img class="img-fluid d-inline-block" width="30px" src="https://a.espncdn.com/i/teamlogos/ncaa/500/${teamId}.png" alt="ESPN team id ${teamId}"/>`;
                }

                function formatScore(score, winner) {
                    if (winner) {
                        return `<strong>${score}</strong>`
                    } else {
                        return `${score}`
                    }
                }
                %>
                <% if (scoreboard.length > 0) { %>
                    <%
                    const quarter = Math.ceil(scoreboard.length / 4);
                    var slices = [];
                    for (var i = 0; i < 4; i++) {
                        slices.push([])
                    }
                    var index = 0;
                    while (index < scoreboard.length) {
                        slices[index % 4].push(scoreboard[index])
                        index++;
                    }
                    slices.forEach(slice => { 
                    %>
                    <div class="col-xl-3 col-lg-6">
                        <% slice.forEach(game => { %>
                            <% 
                                const gameComp = game.competitions[0];
                                const homeComp = gameComp.competitors[0];
                                const awayComp = gameComp.competitors[1];
                                const homeTeam = homeComp.team;
                                const awayTeam = awayComp.team;
                            %>
                            <div class="row border rounded m-2 mb-4 shadow-sm">
                                <div class="col p-3">
                                    <strong class="d-inline-block mb-2 text-primary">
                                        <% if (game.status.type.name.includes("STATUS_SCHEDULED")) { %>
                                        <span class="game-date"><%= game.date %></span>
                                        <% } else if (game.status.type.completed == true) { %>
                                        <span><%= game.status.type.detail %> -</span> <span class="game-date"><%= game.date %></span>  
                                        <% } else { %>
                                        <%= game.status.type.detail %>
                                        <% } %>
                                    </strong> 
                                    <div class="m-0 clearfix">
                                        <div class="d-flex justify-content-between">
                                            <div class="text-left">
                                                <%- generateTeamImg(awayComp.id) %> <span class="d-inline-block h4"><%- formatScore(awayTeam.abbreviation, (parseInt(awayComp.score) > parseInt(homeComp.score) && game.status.type.completed == true)) %></span>
                                            </div>
                                            <div class="text-right">
                                                <p class="h4"><%- (game.status.type.name.includes("STATUS_SCHEDULED") || game.status.type.detail.includes("Cancel") || game.status.type.detail.includes("Postpone")) ? "" : formatScore(awayComp.score, (parseInt(awayComp.score) > parseInt(homeComp.score) && game.status.type.completed == true)) %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-0 mb-2 clearfix">
                                        <div class="d-flex justify-content-between">
                                            <div class="text-left">
                                                <%- generateTeamImg(homeComp.id) %> <span class="d-inline-block h4"><%- formatScore(homeTeam.abbreviation, (parseInt(awayComp.score) < parseInt(homeComp.score) && game.status.type.completed == true)) %></span>
                                            </div>
                                            <div class="text-right">
                                                <p class="h4"><%- (game.status.type.name.includes("STATUS_SCHEDULED") || game.status.type.detail.includes("Cancel") || game.status.type.detail.includes("Postpone")) ? "" : formatScore(homeComp.score, (parseInt(awayComp.score) < parseInt(homeComp.score) && game.status.type.completed == true)) %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <% if (!(game.status.type.completed == true || game.status.type.detail.includes("Cancel") || game.status.type.detail.includes("Postpone"))) { %>
                                        <% if (gameComp.situation != null && gameComp.situation.lastPlay != null) { %>
                                            <p class="card-text text-muted mb-2">
                                            <% if (gameComp.situation.lastPlay.text.toLocaleLowerCase().includes("two-point conversion") || gameComp.situation.lastPlay.text.includes("KICK")) { %>
                                                (PAT) <%= gameComp.situation.lastPlay.text %>
                                            <% } else if (gameComp.situation.lastPlay.text.toLocaleLowerCase().includes("kickoff")) { %>
                                                (Kickoff) <%= gameComp.situation.lastPlay.text %>
                                            <% } else if (gameComp.situation.downDistanceText == null || (gameComp.situation.downDistanceText != null && gameComp.situation.downDistanceText.length == 0)) { %>
                                                <%= gameComp.situation.lastPlay.text %>
                                            <% } else { %>
                                                (<%= gameComp.situation.downDistanceText %>) <%= gameComp.situation.lastPlay.text %>
                                            <% } %>
                                            </p>
                                        <% } %>
                                    <% } %>
                                    <a class="btn btn-sm btn-outline-primary <%= (game.status.type.name.includes("STATUS_SCHEDULED") || game.status.type.detail.includes("Cancel") || game.status.type.detail.includes("Postpone")) ? "disabled" : "" %>" role="button" href="/cfb/game/<%= game.id %>">Stats</a>
                                </div>
                            </div>
                        <% }); %>
                        
                    </div>
                    <% }); %>
                <% } else { %>
                    <p class="text-center text-muted">No games scheduled today.</p>
                <% } %>
            </div>
            <div class="row text-center">
                <%- include('../../partials/footer') %>
            </div>
        </div>
        <%- include('../../partials/scripts') %>
        <script>
            const DateTime = luxon.DateTime;
            function formatDateTime(inputDate) {
                return DateTime.fromISO(inputDate).toLocaleString(DateTime.DATETIME_SHORT)
            }
            var gameDates = document.getElementsByClassName("game-date");
            if (gameDates.length > 0) {
                console.log(gameDates)
                for (var i = 0; i < gameDates.length; i++) {
                    var dateElem = gameDates[i];
                    // console.log(dateElem)
                    dateElem.innerText = formatDateTime(dateElem.innerText)
                }
            } else {
                console.log("no game dates found")
            }
    
    
        </script>
        <script>
            document.getElementById("game-id-form").addEventListener("submit", function(e) {
                e.preventDefault()
                var gameId = document.getElementById("inputGameId").value;
                window.location = "/cfb/game/" + gameId;
            });

            document.getElementById("dropdown-form").addEventListener("submit", function(e) {
                e.preventDefault()
                var year = document.getElementById("yearSelect").value;
                var week = document.getElementById("weekSelect").value;
                var baseUrl = "/cfb/"
                if (year != "-1" && week != "-1") {
                    baseUrl += `year/${year}/type/`

                    var cleanWeekItems = week.split(';')
                    let scheduleType = cleanWeekItems[0]
                    let cleanWeek = cleanWeekItems[1]

                    baseUrl += `${scheduleType}/week/${cleanWeek}`
                }
                window.location = baseUrl;
            });
        </script>
    </body>
</html>