<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
        <title>College Football | Game on Paper</title>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="/assets/css/index.css" rel="stylesheet">
        <link href="/assets/css/dark-index.css" rel="stylesheet">
        <script defer data-domain="gameonpaper.com" src="https://plausible.io/js/script.js"></script>
        <style>
            @media (prefers-color-scheme: dark) {
        <% scoreboard.forEach(game => {  %>
            <% let gameComp = game.competitions[0];%>
            <%let homeComp = gameComp.competitors[0];%>
            <%let awayComp = gameComp.competitors[1];%>
            <%let homeTeam = homeComp.team;%>
            <%let awayTeam = awayComp.team;%>

            img.team-logo-<%= homeTeam.id %> {
                content: url('https://a.espncdn.com/i/teamlogos/ncaa/500-dark/<%= homeTeam.id %>.png')
            }
            img.team-logo-<%= awayTeam.id %> {
                content: url('https://a.espncdn.com/i/teamlogos/ncaa/500-dark/<%= awayTeam.id %>.png')
            }
        <% }); %>
        }

        /* img.team-logo-153 {
            content: url('/assets/img/crying-jordan.png');
        } */

        img.team-logo-61 {
            content: url('/assets/img/ennui-uga.png');
            /* Sourced from the Moon Crew Discord server */
        }
        img.team-logo-2390 {
            transform: rotate(180deg);
        }
        </style>
    </head>
    <body>
        <%
        // https://stackoverflow.com/questions/8273047/javascript-function-similar-to-python-range
        let range = (start, end) => Array.from(Array(end + 1).keys()).slice(start);
        let yrRange = range(2002, 2025);
        %>
        <div class="container">
            <div class="row text-center mb-3">
                <div class="form-signin col-12">
                    <h1 class="mb-3 fw-normal">Game on Paper</h1>
                    <form id="game-id-form">
                        <label for="inputGameId" class="visually-hidden">Game ID</label>
                        <input type="text" id="inputGameId" class="form-control mb-3" placeholder="Provide a valid ESPN Game ID for a CFB game" required="">
                        <button class="w-100 btn btn-lg btn-primary" type="submit">View Stats</button>
                    </form>
                </div>
            </div>
            <div class="row mb-1">
                <h3 class="text-center"> -- OR -- </h3>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-lg-3 col-xs-12 mb-xs-3 mb-sm-0">
                    <a href="/cfb/teams" class="w-100 btn btn-lg btn-primary">Team Leaderboards</a>
                </div>
                <div class="col-lg-3 col-xs-12 mb-xs-3 mb-sm-0">
                    <a href="/cfb/players" class="w-100 btn btn-lg btn-primary">Player Leaderboards</a>
                </div>
            </div>
            <div class="row mb-1">
                <h3 class="text-center"> -- OR -- </h3>
            </div>
            <form class="form-picker mb-3" id="dropdown-form">
                <div class="row">
                    <div class="col-auto mb-xs-3 mb-sm-0">
                        <select class="form-select form-select-lg" id="yearSelect" onchange="populateWeekSelect();">
                            <option value="-1">Choose Season...</option>
                            <% yrRange.reverse().forEach(yr => { %>
                                <option value="<%= yr %>"><%= yr %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-auto mb-xs-3 mb-sm-0">
                        <select class="form-select form-select-lg" id="weekSelect">
                            <option value="-1"<%= (week == null || seasontype == null) ? " selected" : "" %>>Choose Week...</option>
                        </select>
                    </div>
                    <div class="col-auto mb-xs-3 mb-sm-0">
                        <select class="form-select form-select-lg" id="groupSelect">
                            <% groups.forEach(g => { %>
                                <option value="<%= g.id %>" <%= (group == g.id || (group == null && g.id == 80)) ? " selected" : "" %>><%= g.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-auto mb-xs-3 mb-sm-0">
                        <button type="submit" class="btn btn-lg btn-primary">View</button>
                    </div>
                </div>
            </form>
            <div class="row mb-3">
                <% if (scoreboard.length > 0) { %>
                    <%
                    scoreboard.forEach(game => {
                    %>
                    <div class="col-xl-3 col-lg-6">
                        <%- include('./game_thumb', {
                            game
                        })
                        %>
                    </div>
                    <% }); %>
                <% } else { %>
                    <p class="text-center text-muted">No games scheduled.</p>
                <% } %>
            </div>
            <%
            const activeGames = scoreboard.filter(item => {
                return !(item.status.type.completed == true || item.status.type.name.includes("SCHEDULED") || item.status.type.name.includes("CANCEL") || item.status.type.name.includes("POSTPONE") || item.status.type.name.includes("DELAY"))
            });
            if (activeGames.length > 0) { %>
                <div class="row mb-3">
                    <div class="col-12">
                        <p class="text-small text-muted">Because there are active games, page will auto-refresh every minute.</p>
                    </div>
                </div>
            <% } %>
            <div class="row text-muted">
                <div class="col-12">
                    <caption>Game border color guide:
                        <ul>
                            <li><strong>Gray</strong> - normal</li>
                            <li><strong>Green</strong> - Close game late</li>
                            <li><strong>Yellow</strong> - Ranked Upset</li>
                            <li><strong>Orange</strong> - Ranked Opponents + close game late</li>
                            <li><strong>Red</strong> - FCS Upset</li>
                        </ul>
                    </caption>
                </div>
            </div>
            <div class="row text-center">
                <%- include('../../partials/footer') %>
            </div>
        </div>
        <%- include('../../partials/scripts') %>
        <script src="/assets/js/date-replace.js"></script>
        <script>
            const weekData = <%- JSON.stringify(weekList) %>;
            const selYear = <%- year == null ? "null" : year %>;
            const selWeek = <%- week == null ? "null" : week %>;
            const selSeasonType = <%- seasontype %>;
            const availYearKeys = Object.keys(weekData).reverse(); // as displayed

            function clearSelect(id) {
                var select = document.getElementById(id);
                var length = select.options.length;
                for (i = length-1; i >= 0; i--) {
                    if (parseInt(select.options[i].value) != -1) {
                        select.options[i] = null;
                    }
                }
                select.selectedIndex = 0;
            }

            function populateWeekSelect(val) {
                let yr = val || availYearKeys[0];
                clearSelect("weekSelect")
                console.log("Selected year: " + yr);
                if (parseInt(yr) != -1) {
                    console.log("is valid yr");
                    if (yr == null) {

                        yr = keys[keys.length - 1];
                        console.log("edited yr bc null: " + yr);
                    }
                    let selWeeks = weekData[`${yr}`] || [];
                    console.log("avail weeks: " + selWeeks.length);
                    let weekSelect = document.getElementById("weekSelect");

                    var selIndex = -1;
                    selWeeks.forEach((wk, idx) => {
                        console.log("adding week" + wk.label);
                        if (!wk.label.includes("Bowls")) {
                            var option = document.createElement("option");
                            option.text = wk.label;
                            option.value = `${wk.type};${wk.value}`
                            if (parseInt(selSeasonType) == parseInt("2") && parseInt(selWeek) == parseInt(wk.value)) {
                                selIndex = idx + 1;
                            }

                            weekSelect.add(option);
                        }
                    })

                    var option = document.createElement("option");
                    option.text = "Bowls";
                    option.value = `3;1`
                    if (parseInt(selSeasonType) == parseInt("3")) {
                        selIndex = (selWeeks.length - 1) + 1;
                    }
                    weekSelect.add(option);

                    weekSelect.selectedIndex = selIndex;
                }
            }

            document.getElementById("yearSelect").selectedIndex = 0;
            if (selYear != null) {
                availYearKeys.forEach((yr, idx) => {
                    if (selYear == yr) {
                        console.log("setting selected to yr " + yr + " at idx " + idx);
                        document.getElementById("yearSelect").selectedIndex = idx + 1;
                    }
                });
            }

            populateWeekSelect(selYear || -1);
        </script>
        <script>
            document.getElementById("dropdown-form").addEventListener("submit", function(e) {
                e.preventDefault()
                var year = document.getElementById("yearSelect").value;
                var week = document.getElementById("weekSelect").value;
                var group = document.getElementById("groupSelect").value;
                var baseUrl = "/cfb/"
                if (year != "-1" && week != "-1") {
                    baseUrl += `year/${year}/type/`

                    var cleanWeekItems = week.split(';')
                    let scheduleType = cleanWeekItems[0]
                    let cleanWeek = cleanWeekItems[1]

                    baseUrl += `${scheduleType}/week/${cleanWeek}`
                }

                if (group != null) {
                    baseUrl += `?group=${group}`;
                }

                window.location = baseUrl;
            });

            const hasActiveGames = <%= (activeGames.length > 0) %>; // injected via EJS template

            if (hasActiveGames) {
                setTimeout("location.reload(true);", 60 * 1000);
            }
        </script>
    </body>
</html>
