<!DOCTYPE html>
<html>
<%
const homeComp = gameData.gameInfo.competitors[0];
const awayComp = gameData.gameInfo.competitors[1];
const homeTeam = homeComp.team;
const awayTeam = awayComp.team;
function getNumberWithOrdinal(n) {
    var s = ["th", "st", "nd", "rd"];
    v = n % 100;
    return n + (s[(v - 20) % 10] || s[v] || s[0]);
}

stat_key_title_mapping = {
    "totalPlays" : "Plays",
    "playsPerGame" : "Plays/Game",
    "totalEPA": "Total EPA",
    "epaPerPlay": "EPA/Play",
    "epaPerGame": "EPA/Game",
    "successRate": "Success Rate",
    "startingFP" : "Starting FP"
}


function roundNumber(value, power10, fixed) {
    return (Math.round(parseFloat(value || 0) * (Math.pow(10, power10))) / (Math.pow(10, power10))).toFixed(fixed)
}

const CLEAN_LIST = [61]
function cleanAbbreviation(team) {
    if (CLEAN_LIST.includes(parseInt(team.id))) {
        return team.abbreviation.toLocaleLowerCase()
    }
    return team.abbreviation
}

function cleanName(team) {
    if (CLEAN_LIST.includes(parseInt(team.id))) {
        return team.nickname.toLocaleLowerCase()
    }
    return team.nickname
}


function hexToRgb(hex) {
    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
    return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
    } : null;
}

%>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/assets/css/dashboard.css" rel="stylesheet">
    <link href="/assets/css/blog.css" rel="stylesheet">
    <link href="/assets/css/dark-game.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <%
    var title = ""
    var subtitle = ""
    if (gameData.gameInfo.status.type.completed == true || gameData.gameInfo.status.type.name.includes("STATUS_IN_PROGRESS")) {
        title = `Game: ${cleanName(gameData.gameInfo.competitors[1].team)} ${gameData.gameInfo.competitors[1].score}, ${cleanName(gameData.gameInfo.competitors[0].team)} ${gameData.gameInfo.competitors[0].score} | Game on Paper`
    } else {
        title = `Game: ${cleanName(gameData.gameInfo.competitors[1].team)} vs ${cleanName(gameData.gameInfo.competitors[0].team)} | Game on Paper`
    }
    subtitle = `${cleanName(gameData.gameInfo.competitors[1].team)} vs ${cleanName(gameData.gameInfo.competitors[0].team)}`;
    %>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="referrer" content="origin-when-cross-origin">
    <link rel="canonical" href="http://gameonpaper.com/cfb/game/<%= gameData.gameInfo.id %>">
    <title><%= title %></title>
    <meta name="description" content="Advanced stats for <%= subtitle %>">

    <meta property="og:site_name" content="GameOnPaper.com">
    <meta property="og:url" content="http://gameonpaper.com/cfb/game/<%= gameData.gameInfo.id %>">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="Advanced stats for <%= subtitle %>">
    <meta property="og:image" content="https://s.espncdn.com/stitcher/sports/football/college-football/events/<%= gameData.gameInfo.id %>.png?templateId=espn.com.share.1">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta name="twitter:site" content="Game on Paper">
    <meta name="twitter:url" content="http://gameonpaper.com/cfb/game/<%= gameData.gameInfo.id %>">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= subtitle %>">
    <meta name="twitter:card" content="summary">
    <meta name="title" content="<%= title %>">
    <meta name="medium" content="website">
    <script defer data-domain="gameonpaper.com" src="https://plausible.io/js/script.js"></script>
    <%- include('../../partials/logos', {
        team: null,
        awayTeam,
        homeTeam,
    }) %>
</head>
<body>
    <div class="container-fluid">
        <header class="blog-header py-3 mb-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-2 pt-1">
                    <a class="btn btn-sm btn-outline-primary align-middle" href="/"><i class="bi-arrow-left"></i></a>
                </div>
                <div class="col-8 text-center">
                    <div class="game-context">
                        <h2><%= cleanName(awayTeam) %> <%= awayComp.score %> @ <%= cleanName(homeTeam) %> <%= homeComp.score %></h2>
                        <p class="text-small" id="game-date"></p>
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <%

                    const networkMappings = {
                        "FOX" : 'https://www.foxsports.com/live',
                        "FS1" : 'https://www.foxsports.com/live/fs1',
                        "FS2" : 'https://www.foxsports.com/live/fs2',
                        "BTN" : 'https://www.foxsports.com/live/btn',
                        "NBC" : 'https://www.nbcsports.com/live',
                        "Peacock" : 'https://www.peacocktv.com',
                        "CBSSN" : 'https://www.cbssports.com/cbs-sports-network/',
                        "CBS" : 'https://www.cbssports.com/live/',
                        'PAC12' : 'https://pac-12.com/live',
                        'NFL NET' : 'https://www.nfl.com/network/watch/nfl-network-live',
                        'CW NETWORK' : "https://www.cwtv.com/sports/",
                        'THE CW NETWORK' : "https://www.cwtv.com/sports/",
                        "The CW Network" : "https://www.cwtv.com/sports/",
                        "MWSN": "https://themw.com/watch/",
                        "MWN": "https://themw.com/watch/",
                        "MWN App": "https://themw.com/watch/",
                        "truTV": "https://www.trutv.com/watchtrutv",
                        "TNT": "https://www.tntdrama.com/watchtnt"
                    }


                    let networkName = gameData.gameInfo.broadcasts.length > 0 ? gameData.gameInfo.broadcasts[0].media.shortName : null;
                    if (networkName != null && (networkName.includes('ESPN') || networkName.includes('LHN') || networkName.includes('Longhorn Network') || networkName.includes('ACCN') || networkName.includes('ACC Network') || networkName.includes('SEC Network') || networkName.includes('SECN') || networkName.includes('BIG12') || networkName.includes('ABC'))) { %>
                        <a class="btn btn-sm btn-outline-secondary" href="https://www.espn.com/watch/player/_/eventCalendarId/<%= gameData.gameInfo.id %>" target="_blank">Watch (<%= networkName %>)</a>
                    <% } else if (networkName != null && networkMappings[networkName]) { %>
                        <a class="btn btn-sm btn-outline-secondary" href="<%= networkMappings[networkName] %>" target="_blank">Watch (<%= networkName %>)</a>
                    <%} %>
                </div>
            </div>
        </header>
    </div>
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-lg-2 col-md-0">

            </div>
            <div class="col-lg-4 col-md-12 margin-override">
                <%- include('../../partials/team_card', {
                    teamData: awayComp,
                    breakdown: [gameData.matchup.team[0]],
                    season: season,
                    week,
                    hideNavigation: false
                }) %>
            </div>
            <div class="col-lg-4 col-md-12">
                <%- include('../../partials/team_card', {
                    teamData: homeComp,
                    breakdown: [gameData.matchup.team[1]],
                    season: season,
                    week,
                    hideNavigation: false
                }) %>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-3">
        <div class="row mb-3">
            <div class="col-lg-2 col-md-0">

            </div>
            <% const radarWidth = 200; %>
            <div class="col-lg-4 col-xs-12 mb-xs-3">
            <canvas id="offensive-canvas" style="display: block; box-sizing: border-box; height: <%= radarWidth / 2 %>px; width: <%= radarWidth / 2 %>px;" width="<%= radarWidth %>" height="<%= radarWidth %>"></canvas>
            </div>
            <div class="col-lg-4 col-xs-12 mb-xs-3">
            <canvas id="defensive-canvas" style="display: block; box-sizing: border-box; height: <%= radarWidth / 2 %>px; width: <%= radarWidth / 2 %>px;" width="<%= radarWidth %>" height="<%= radarWidth %>"></canvas>
            </div>
        </div>
    </div>
    <% if (view_full) { %>
        <div class="container-fluid">
            <%

            Object.keys(gameData.matchup).forEach(key => {
                const baseData = gameData.matchup[key]
                var teamKey = "teamId"

                baseData.sort((a,b) => {
                    if (a[teamKey] == awayTeam.id && b[teamKey] == homeTeam.id) {
                        return -1;
                    } else if (b[teamKey] == awayTeam.id && a[teamKey] == homeTeam.id) {
                        return 1;
                    } else {
                        return 0;
                    }
                });
            });
        %>


        <div id="team-stats" class="row mb-3">
            <div class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div id="boxScoreContent" class="panel-collapse show">
                            <div class="panel-body">
                                <div class="row mb-3">
                                    <div class="col-md-4 ms-sm-auto col-lg-4">
                                        <%- include('../../partials/team_slice', {
                                            breakdown: gameData.matchup.team,
                                            title: 'Offensive',
                                            target: 'offensive',
                                            situation: 'overall',
                                            showTeamLogos: true,
                                            homeTeam: homeTeam,
                                            awayTeam: awayTeam
                                        }) %>
                                    </div>
                                    <div class="col-md-4 ms-sm-auto col-lg-4">
                                        <%- include('../../partials/team_slice', {
                                            breakdown: gameData.matchup.team,
                                            title: 'When Passing',
                                            target: 'offensive',
                                            situation: 'passing',
                                            showTeamLogos: true,
                                            homeTeam: homeTeam,
                                            awayTeam: awayTeam
                                        }) %>
                                    </div>
                                    <div class="col-md-4 ms-sm-auto col-lg-4">
                                        <%- include('../../partials/team_slice', {
                                           breakdown: gameData.matchup.team,
                                            title: 'When Rushing',
                                            target: 'offensive',
                                            situation: 'rushing',
                                            showTeamLogos: true,
                                            homeTeam: homeTeam,
                                            awayTeam: awayTeam
                                        }) %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 ms-sm-auto col-lg-4">
                                        <%- include('../../partials/team_slice', {
                                            breakdown: gameData.matchup.team,
                                            title: 'Defensive',
                                            target: 'defensive',
                                            situation: 'overall',
                                            showTeamLogos: true,
                                            homeTeam: homeTeam,
                                            awayTeam: awayTeam
                                        }) %>
                                    </div>
                                    <div class="col-md-4 ms-sm-auto col-lg-4">
                                        <%- include('../../partials/team_slice', {
                                            breakdown: gameData.matchup.team,
                                            title: 'Against the Pass',
                                            target: 'defensive',
                                            situation: 'passing',
                                            showTeamLogos: true,
                                            homeTeam: homeTeam,
                                            awayTeam: awayTeam
                                        }) %>
                                    </div>
                                    <div class="col-md-4 ms-sm-auto col-lg-4">
                                        <%- include('../../partials/team_slice', {
                                           breakdown: gameData.matchup.team,
                                            title: 'Against the Run',
                                            target: 'defensive',
                                            situation: 'rushing',
                                            showTeamLogos: true,
                                            homeTeam: homeTeam,
                                            awayTeam: awayTeam
                                        }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else { %>
        <%- include('../../partials/matchup', {
            game_id: gameData.gameInfo.id,
            homeTeam,
            awayTeam,
            season,
            breakdown: gameData.matchup.team
        }) %>
    <% } %>
    <%- include('../../partials/footer') %>
    <%- include('../../partials/scripts') %>
    <script src="/assets/js/feather.min.js" crossorigin="anonymous"></script>
    <script src="/assets/js/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/js/date-replace.js" crossorigin="anonymous"></script>
    <script>
        // const DateTime = luxon.DateTime;
        const networkMappings = {
            "FOX" : 'https://www.foxsports.com/live',
            "FS1" : 'https://www.foxsports.com/live/fs1',
            "BTN" : 'https://www.foxsports.com/live/btn',
            "NBC" : 'https://www.nbcsports.com/live',
            "Peacock" : 'https://www.peacocktv.com',
            "CBSSN" : 'https://www.cbssports.com/cbs-sports-network/',
            "CBS" : 'https://www.cbssports.com/live/',
            'PAC12' : 'https://pac-12.com/live',
            'NFL NET' : 'https://www.nfl.com/network/watch/nfl-network-live',
            'CW NETWORK' : "https://www.cwtv.com/sports/",
            'THE CW NETWORK' : "https://www.cwtv.com/sports/",
            "The CW Network" : "https://www.cwtv.com/sports/",
            "MWSN": "https://themw.com/watch/",
            "MWN": "https://themw.com/watch/",
            "MWN App": "https://themw.com/watch/",
            "truTV": "https://www.trutv.com/watchtrutv",
            "TNT": "https://www.tntdrama.com/watchtnt"
        }

        var gameData = <%- JSON.stringify(gameData) %>;
        // document.body.querySelector("#content").innerHTML = "<pre>" + JSON.stringify(gameData.plays, null, 2) +  "</pre>";
        var statusDetail = gameData.gameInfo.status.type.detail;
        var statusDescription = gameData.gameInfo.status.type.description ?? "Scheduled";
        if (gameData.gameInfo.status.type.completed == true || statusDescription.includes("Cancel") || statusDescription.includes("Postpone") || statusDescription.includes("Delay") || statusDescription.includes("Scheduled")) {
            document.body.querySelector("#game-date").innerText = statusDescription + " - " + DateTime.fromISO(gameData.gameInfo.date).toLocaleString(DateTime.DATETIME_FULL);
        } else {
            document.body.querySelector("#game-date").innerText = "LIVE - " + statusDetail
            setTimeout("location.reload(true);", 60 * 1000);
        }
    </script>
    <script src="/assets/js/radar.js"></script>
    <script>
        // const homeColor = JSON.parse('<%- JSON.stringify(hexToRgb(homeTeam.color)) %>')
        // const homeAlt = JSON.parse('<%- JSON.stringify(hexToRgb(homeTeam.alternateColor ?? '#000000')) %>')
        // const awayColor = JSON.parse('<%- JSON.stringify(hexToRgb(awayTeam.color)) %>')
        // const awayAlt = JSON.parse('<%- JSON.stringify(hexToRgb(awayTeam.alternateColor ?? '#000000')) %>')

        const firstCanvasTitle = "<%- cleanName(awayTeam) %> Offense vs <%- cleanName(homeTeam) %> Defense"
        const secondCanvasTitle = "<%- cleanName(homeTeam) %> Offense vs <%- cleanName(awayTeam) %> Defense"

        let breakdowns = JSON.parse('<%- JSON.stringify(gameData.matchup.team) %>')
        breakdowns = [{
            ...breakdowns[0],
            teamName: '<%- cleanName(awayTeam) %>',
            alternateColor: '<%= awayTeam.alternateColor ?? '#000000' %>',
            color: '<%= awayTeam.color %>'
        }, {
            ...breakdowns[1],
            teamName: '<%- cleanName(homeTeam) %>',
            alternateColor: '<%= homeTeam.alternateColor ?? '#000000' %>',
            color: '<%= homeTeam.color %>'
        }]

        function drawRadarCanvases() {
            'use strict'
            feather.replace()
            const offRadarCtx = document.getElementById('offensive-canvas')
            const offRadarChart = new Chart(
                offRadarCtx,
                generateConfig(
                    generateDataset(breakdowns, "Offensive", "Defensive"),
                    firstCanvasTitle
                )
            );

            const defRadarCtx = document.getElementById('defensive-canvas')
            const defRadarChart = new Chart(
                defRadarCtx,
                generateConfig(
                    generateDataset(breakdowns, "Defensive", "Offensive"),
                    secondCanvasTitle
                )
            );
        }
        drawRadarCanvases()
    </script>
</body>
</html>