---
import WatchButton from '../../components/game/WatchButton.astro';
import NavScroller, { type ScrollerItem } from '../../components/NavScroller.astro';
import { retrieveProcessedGame, type ProcessedGame } from '../../resources/internal';
import type { SeasonPercentile } from '../../resources/summary';
import { isChampionshipEvent } from '../../utils/common';
import { cleanName } from '../../utils/common';
import { DateTime } from 'luxon';
import SummaryModel, { SummaryType, type PlayerSummary } from '../../resources/summary';
import LocalDate from '../LocalDate.svelte';
import type { ESPNCompetition } from '../../resources/espn';

interface Props {
   id: string | number
}

const { id } = Astro.props;
let game: ProcessedGame;
try {
    game = await retrieveProcessedGame(id);
} catch (e) {
    console.error(`ERROR while loading game ${id}: ${e} (${(e as Error).stack})`)
    return Astro.redirect("/404")
}
// const percentiles = await SummaryModel.retrievePercentiles({ year: game.season });
const homeComp = game.gameInfo.competitors[0];
const awayComp = game.gameInfo.competitors[1];
const homeTeam = homeComp.team;
const awayTeam = awayComp.team;
const gameNote = game.header?.gameNote ?? "";
const isChampEvent = isChampionshipEvent(gameNote);

let title = "";
let subtitle = "";
if (game.gameInfo.status.type.completed == true || game.gameInfo.status.type.name.includes("STATUS_IN_PROGRESS") || (game.gameInfo.status.type.name.includes("STATUS_DELAYED") && game.plays.length > 0)) {
    title = `Game: ${cleanName(awayComp.team)} ${awayComp.score}, ${cleanName(homeComp.team)} ${homeComp.score} | Game on Paper`
} else {
    title = `Game: ${cleanName(awayComp.team)} vs ${cleanName(homeComp.team)} | Game on Paper`
}
subtitle = `${cleanName(awayComp.team)} vs ${cleanName(homeComp.team)}`;

const statusDetail = game.gameInfo.status.type.detail;
const statusDescription = game.gameInfo.status.type.description ?? "Scheduled";
// let gameStatus = ""
const isGameInactive = (game.gameInfo.status.type.completed == true || statusDescription.includes("Cancel") || statusDescription.includes("Postpone") || statusDescription.includes("Delay"))
// if  {
//     gameStatus = statusDescription + " - " + DateTime.fromISO(game.gameInfo.date).toLocaleString(DateTime.DATETIME_FULL);
// } else {
//     gameStatus = "LIVE - " + statusDetail
// }

const scrollerItems: ScrollerItem[] = [
    { href: "#wpChart", title: "WP Chart" },
    { href: "#epChart", title: "EPA Chart" },
    { href: "#team-stats", title: "Team Stats" },
    { href: "#player-stats", title: "Player Stats" },
    { href: "#big-plays", title: "Big Plays" },
    { href: "#most-imp-plays", title: "Most Important Plays" },
    { href: "#scoring-plays", title: "Scoring Plays" },
    { href: "#drives", title: "Drives" },
    { href: "#all-plays", title: "All Plays" },
    { href: `/cfb/game/${game.id}?preview_mode=new`, title: "Matchup Preview" },
    { href: `https://www.espn.com/college-football/game/_/gameId/${game.id}`, title: "Gamecast" },
];

 
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="/assets/css/base.css" rel="stylesheet">
        <link href="/assets/css/nav-header.css" rel="stylesheet">
        <link href="/assets/css/dark-game.css" rel="stylesheet">
        <link href="/assets/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        { (isChampEvent) && (<link href="/assets/css/championship.css" rel="stylesheet" />) }

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="referrer" content="origin-when-cross-origin">
        <link rel="canonical" href={`https://gameonpaper.com/cfb/game/${game.id}`}>
        <title>{title}</title>
        <meta name="description" content={`Advanced stats for ${subtitle}`}>

        <meta property="og:site_name" content="GameOnPaper.com">
        <meta property="og:url" content={`https://gameonpaper.com/cfb/game/${game.id}`}>
        <meta property="og:title" content={title}>
        <meta property="og:description" content={`"Advanced stats for ${subtitle}"`}>
        <meta property="og:image" content={`https://s.espncdn.com/stitcher/sports/football/college-football/events/${game.id}.png?templateId=espn.com.share.1`}>
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:type" content="website">
        <meta name="twitter:site" content="Game on Paper">
        <meta name="twitter:url" content={`https://gameonpaper.com/cfb/game/${game.id}`}>
        <meta name="twitter:title" content={title}>
        <meta name="twitter:description" content={subtitle}>
        <meta name="twitter:card" content="summary">
        <meta name="title" content={title}>
        <meta name="medium" content="website">
        <script defer is:inline data-domain="gameonpaper.com" src="https://plausible.io/js/script.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-2 pt-1">
                        <a class="btn btn-sm btn-outline-primary align-middle" href="/"><i class="bi-arrow-left"></i></a>
                    </div>
                    <div class="col-8 text-center">
                        <div>
                            <h2 class="mb-0">{`${cleanName(awayTeam)} ${awayComp.score} @ ${cleanName(homeTeam)} ${homeComp.score}`}</h2>
                            {
                                (gameNote != "") && <p class={`text-small mt-0 mb-3 ${isChampEvent ? "championship-text" : "text-primary"}`}><strong>{gameNote}</strong></p>
                            }
                            {
                                (isGameInactive) && <LocalDate client:idle divClass="text-small m-0" client:idle date={game.gameInfo.date} format={DateTime.DATETIME_FULL} />
                            }
                            {
                                (!isGameInactive) && <p class="text-small m-0">{`LIVE - ${statusDetail}`}</p>
                            }
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-end align-items-center">
                        <WatchButton game={game.gameInfo as ESPNCompetition} />
                    </div>
                </div>
            </header>

            <NavScroller items={scrollerItems} />
        </div>
    </body>
</html>