---
import type { ProcessedPlay } from "../../../resources/internal"
import { TURNOVER_VEC } from "../../../utils/constants";
import { formatDistance, formatYardline, roundNumber, cleanAbbreviation } from "../../../utils/misc";

interface Props {
    play: ProcessedPlay
    expandable: boolean
    prefix: string
}

const { play, expandable, prefix } = Astro.props;


let classText = "";
if (TURNOVER_VEC.includes(play.type.text) || (play.text.includes("fumble") && play.change_of_poss == 1) || (play.start.down == 4 && play.statYardage < play.start.distance && !play.type.text.includes('Punt') && !play.type.text.includes('Timeout'))) {
    classText = " table-danger"
} else if (play.scoringPlay == true || play.scoring_play == true) {
    classText = " table-success"
} else if (play.text.toLocaleLowerCase().includes("penalty")) {
    classText = " table-warning"
}

let gameClock = `Q${play.period}`;
if (play.period > 5) {
    gameClock = `${play.period - 4}OT`
} else if (play.period == 5) {
    gameClock = "OT"
} else {
    gameClock = `Q${play.period} ${play.clock.displayValue}`;
}

const homeTeam = { id: play.homeTeamId, location: play.homeTeamName, abbreviation: play.homeTeamAbbrev }
const awayTeam = { id: play.awayTeamId, location: play.awayTeamName, abbreviation: play.awayTeamAbbrev }
const offense = (play.start.pos_team.id == homeTeam.id) ? homeTeam : awayTeam;
const defense = (play.start.pos_team.id == homeTeam.id) ? awayTeam : homeTeam;

const downText = (play.penalty_assessed_on_kickoff && play.penalty_assessed_on_kickoff == true) ? "Assessed on Kickoff" : `${formatDistance(play.start.down, play.type.text, play.start.distance, play.start.yardsToEndzone)} at ${ formatYardline(play.start.yardsToEndzone, cleanAbbreviation(offense), cleanAbbreviation(defense), play.type.text) }`;
---

<tr data-bs-toggle={expandable ? "collapse" : ""} href={expandable ? `#play-${prefix}-${play.game_play_number}` : ''} class=`accordion-toggle ${classText}`>
    <td style="text-align: left;">{gameClock}</td>
    <td style="text-align: center;"><a href={`/cfb/year/${play.season}/team/${play.start.pos_team.id}`}><img class={`img-fluid team-logo-${play.start.pos_team.id}`} width="35px" src={`https://a.espncdn.com/i/teamlogos/ncaa/500/${play.pos_team}.png`} alt={`ESPN team id ${play.start.pos_team.id}`}/></a></td>
    <td style="text-align: left;">({downText}) {play.text} - {play.scoringPlay ? (<strong>{cleanAbbreviation(awayTeam)} {play.awayScore}, {cleanAbbreviation(homeTeam)} {play.homeScore}</strong>) : (<span>{cleanAbbreviation(awayTeam)} {play.awayScore}, {cleanAbbreviation(homeTeam)} {play.homeScore}</span>)}</td>
    <td class="numeral" style="text-align: center;">{roundNumber(play.expectedPoints.added, 2, 2)}</td>
    <td class="numeral" style="text-align: center;">{roundNumber(play.winProbability.before * 100, 3, 1)}%</td>
    <td class="numeral" style="text-align: right;">{roundNumber(play.winProbability.added * 100, 3, 1)}%</td>
</tr>
{
    (expandable) && (
        <tr class="accordion-body collapse" id={`play-${prefix}-${play.game_play_number}`}>
            <td colspan="6" class="hiddenRow">
                <slot name="expandable-row-content" />
            </td>
        </tr>
    )
}