---

---
<>
    <h2 class="mb-0">Win Probability</h2>
    <%
        function printSpread() {
            if (parseFloat(gameData.homeTeamSpread) > 0) {
                return `${cleanAbbreviation(homeTeam)} -${gameData.homeTeamSpread}`
            } else if (parseFloat(gameData.homeTeamSpread) < 0) {
                return `${cleanAbbreviation(awayTeam)} ${gameData.homeTeamSpread}`
            } else {
                return "PUSH"
            }
        }
        let lastPlay = gameData.plays[gameData.plays.length - 1]
    %>
    <% if (lastPlay.gameSpreadAvailable == false) { %>
        <p class="m-0 text-muted text-small">ESPN does not list betting odds for this game, so we've used default values: <%= cleanAbbreviation(homeTeam) %> -2.5, O/U 55.5.</p>
    <% } %>
    <p class="text-small">
        <% if (gameData.gameInfo.status.type.completed == true) { %>
            <% 
                let geiVal = (Math.round(gameData.gameInfo.gei * 100) / 100) 
                let geiPctl = geiGenerateColorRampValue(geiVal)
                let geiTitle = `%ile: ${getNumberWithOrdinal(geiPctl.pctl)}\nMost Boring: ${geiPctl.min}\nMedian: ${geiPctl.mid}\nMost Exciting: ${geiPctl.max}`;
            %>
            
            <a href="https://www.opensourcefootball.com/posts/2020-08-21-game-excitement-and-win-probability-in-the-nfl/" title="Measures 'game excitement' by absolute changes in win probability. May not match eye-test in games with heavy favorites.">Game Excitement Index:</a> <span class="px-1 <%= geiPctl.ramp_class %>" title="<%= geiTitle %>"><%= geiVal.toFixed(2) %></span> |
        <% } %>Odds: <%= printSpread() %>, O/U <%= roundNumber(parseFloat(gameData.overUnder), 2, 1) %>
        <% if ((gameData.gameInfo.status.type.name.includes("STATUS_IN_PROGRESS") || gameData.gameInfo.status.type.name.includes("STATUS_END_PERIOD") || gameData.gameInfo.status.type.name.includes("STATUS_HALFTIME")) && gameData.plays.length > 0) { %>
            <% if (lastPlay.winProbability.before >= 0.5) { %>
                | Current: <%= (lastPlay.pos_team == homeTeam.id) ? cleanAbbreviation(homeTeam) : cleanAbbreviation(awayTeam) %> <%= ((Math.round(lastPlay.winProbability.before * 1000) / 1000) * 100).toFixed(1) %>%
            <% } else { %>
                | Current: <%= (lastPlay.pos_team == homeTeam.id) ? cleanAbbreviation(awayTeam) : cleanAbbreviation(homeTeam) %> <%= ((Math.round((1.0 - lastPlay.winProbability.before) * 1000) / 1000) * 100).toFixed(1) %>%
            <% } %>
        <% } %>
        <!-- can't offer download button here because of canvas security issues -->
        | <a id="wp-download" download="game-wp-<%= gameData.gameInfo.id %>.jpg" href="">Download Chart</a></p>
</div>
<canvas class="my-4 w-100" id="wpChart" width="900" height="380"></canvas>
</>