---
import type { ESPNTeam } from '../../../resources/espn'
import type { ProcessedDrive, ProcessedPlay } from '../../../resources/internal'
import DriveRow from './DriveRow.astro'

interface Props {
    drives: ProcessedDrive[]
    gamePlays: ProcessedPlay[]
    prefix: string
    expandable: boolean
    showGuide: boolean
    homeTeam: ESPNTeam
    awayTeam: ESPNTeam
    isNeutralSite: boolean
}

let { drives, gamePlays, prefix, expandable, showGuide, homeTeam, awayTeam, isNeutralSite } = Astro.props;


const adjDrives = drives.toSorted((a, b) => {
    let aPlays = gamePlays.filter(p => p['drive.id'] == a.id)
    let aFirstPlay = aPlays[0]

    let bPlays = gamePlays.filter(p => p['drive.id'] == b.id)
    let bFirstPlay = bPlays[0]

    if ((aFirstPlay.period ?? 0) == (bFirstPlay.period ?? 0)) {
        if ((aFirstPlay.game_play_number ?? "") == (bFirstPlay.game_play_number ?? "")) {
            return a.id < b.id ? -1 : 1
        } else {    
            return (aFirstPlay.game_play_number ?? 0) < (bFirstPlay.game_play_number ?? 0) ? -1 : 1
        }
    } else {
        return (aFirstPlay.period ?? 0) < (bFirstPlay.period ?? 0) ? -1 : 1
    }
})

---

<table class="table table-sm table-responsive" style="border-collapse:collapse;">
{
    (showGuide) && (
        <caption>Drive shading guide:
            <ul>
                <li><strong>Red</strong> - turnover</li>
                <li><strong>Green</strong> - scoring drive</li>
            </ul>
        </caption>
    )
}
<thead>
    <tr>
        <th style="text-align: left;vertical-align:center;">Start</th>
        <th style="text-align: center;vertical-align:center;">Offense</th>
        <th style="text-align: left;vertical-align:center;">Result</th>
        <th style="text-align: left;vertical-align:center;">Description</th>
        <th class="d-none d-xl-table-cell" style="text-align: center;vertical-align:center;">EPA</th>
        <th class="d-none d-xl-table-cell" style="text-align: center;vertical-align:center;">Start WP%</th>
        <th class="d-none d-xl-table-cell" style="text-align: center;vertical-align:center;">End WP%</th>
    </tr>
</thead>
<tbody>
    {
        adjDrives.map(drive => (
            <DriveRow drive={drive} drivePlays={gamePlays.filter(p => p['drive.id'] == drive.id)} prefix={prefix} expandable={expandable} isNeutralSite={isNeutralSite} homeTeam={homeTeam} awayTeam={awayTeam} />   
        ))
    }
</tbody>
</table>