<%

    const CLEAN_LIST = [61];
    function cleanNickname(team) {
        if (CLEAN_LIST.includes(parseInt(team.id))) {
            return team.nickname.toLocaleLowerCase()
        }
        return team.nickname
    }

    function cleanBreakdown(breakdown) {
        if (!breakdown || !Object.keys(breakdown).includes("offensive")) {
            breakdown = {
                "offensive": {
                    "overall": {},
                    "passing": {},
                    "rushing": {}
                },
                "defensive": {
                    "overall": {},
                    "passing": {},
                    "rushing": {}
                },
                "differential" : {
                    "overall": {},
                    "passing": {},
                    "rushing": {}
                }
            }
        }
        return breakdown
    }

    function generateMarginalString(input, power10, fixed) {
        if (input >= 0) {
            return `+${roundNumber(input, power10, fixed)}`;
        } else {
            return roundNumber(input, power10, fixed);
        }
    }

    function produceRankHtml(rank, addClass = "", addStyle = "") {       
        if (rank == null || (!rank && rank != 0)) {
            return `<td class="${addClass} text-center" style="${addStyle}">N/A</td>`
        }
    
        let tied = String(rank)?.includes(".5")
        let rankString = ""
        if (rank && tied) {
            rankString = `T-#${roundNumber(Math.floor(parseFloat(rank)), 2, 0)}`;
        } else if (rank) {
            rankString = `#${roundNumber(Math.floor(parseFloat(rank)), 2, 0)}`
        } else {
            rankString = "N/A"
        }

        return `<td class="${generateColorRampValue(rank, 134) || ""} ${addClass} text-center" style="${addStyle}">${rankString}</td>`
    }

    function generateColorRampValue(input, max) {
        if (!input) {
            return null;
        }
        let value = (parseFloat(max) - parseFloat(input)) / parseFloat(max)
        let step = Math.round(value / 0.1)
        let clampedStep = Math.min(Math.max(step, 0), 9)

        let hex = null
        if (clampedStep == 4 || clampedStep == 5) {
            return null
        } else {
            return `hulk-bg-level-${clampedStep}`
        }
    }

    function formatYardline(yardsToGoal) {
        let prefix = (yardsToGoal >= 50) ? "Own" : "Opp"
        let printedVal = (yardsToGoal >= 50) ? (100 - parseFloat(yardsToGoal)) : yardsToGoal
        return `${prefix} ${roundNumber(printedVal, 2, 0)}`;
    }

    function roundNumber(value, power10, fixed) {
        if (!value) {
            return "N/A"
        }
        return (Math.round(parseFloat(value || 0) * (Math.pow(10, power10))) / (Math.pow(10, power10))).toFixed(fixed)
    }

    function produceMatchupRow(title, awayBreakdown, homeBreakdown, awaySideOfBall, category, statKey) {
        let homeSideOfBall = (awaySideOfBall == "offensive") ? "defensive" : "offensive"
        let homeRank = homeBreakdown[homeSideOfBall][category][`${statKey}Rank`]
        let awayRank = awayBreakdown[awaySideOfBall][category][`${statKey}Rank`]

        var homeValue = homeBreakdown[homeSideOfBall][category][statKey]
        var awayValue = awayBreakdown[awaySideOfBall][category][statKey]

        if (['epaPerPlay', "thirdDownDistance", "earlyDownEPAPerPlay"].includes(statKey)) {
            homeValue = roundNumber(homeValue, 2, 2)
            awayValue = roundNumber(awayValue, 2, 2)
        } else if (['successRate', "thirdDownSuccessRate", "availableYardsPct", "lateDownSuccessRate"].includes(statKey)) {
            homeValue = `${roundNumber(homeValue * 100, 2, 1)}%`
            awayValue = `${roundNumber(awayValue * 100, 2, 1)}%`
        } else if (statKey == "startingFP") {
            homeValue = formatYardline(homeValue)
            awayValue = formatYardline(awayValue)
        }

        return `
        <tr>
            ${produceRankHtml(awayRank, "", "width: 10% !important;")}
            <td class="text-center" style="width: 20% !important;" >${awayValue || "N/A"}</td>
            <td class="text-center" style="width: 40% !important;">${title}</td>
            <td class="text-center" style="width: 20% !important;" >${homeValue || "N/A"}</td>
            ${produceRankHtml(homeRank, "", "width: 10% !important;")}
        </tr>
        `
    }

    function produceTeamLogoLink(team, headerType = "h4", showNickname = false) {
        return `<${headerType} class="d-inline"><a href="/cfb/team/${team.id}"><img class="img-fluid team-logo-${team.id}" width="35px" src="https://a.espncdn.com/i/teamlogos/ncaa/500/${team.id}.png" alt="ESPN team id ${team.id}"/></a>${showNickname ? (" " + cleanNickname(team)) : ""}</${headerType}>`
    }

    function produceTeamSector(team, breakdown) {
        return `
        <div class="col-md-12 ms-sm-auto col-lg-3">
            <div class="h4 text-center">${produceTeamLogoLink(team, "h4", true)}</div>
            <div class="table-responsive">
                <table class="table table-sm table-responsive">
                    <thead>
                        <tr>
                            <th class="w-50" style="text-align: left;" colspan="1"></th>
                            <th class="text-center w-25" style="text-align: center;" colspan="1"></th>
                            <th class="text-center w-25" style="text-align: center;" colspan="1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">Net EPA/Play</td>
                            <td class="text-center">${generateMarginalString(breakdown["differential"]["overall"]["epaPerPlay"], 2, 2)}</td>
                            ${produceRankHtml(breakdown["differential"]["overall"]["epaPerPlayRank"])}
                        </tr>
                        <tr>
                            <td class="ps-4">Offense</td>
                            <td class="text-center">${roundNumber(breakdown["offensive"]["passing"]["epaPerPlay"], 2, 2)}</td>
                            ${produceRankHtml(breakdown["offensive"]["passing"]["epaPerPlayRank"])}
                        </tr>
                        <tr>
                            <td class="ps-4">Defense</td>
                            <td class="text-center">${roundNumber(breakdown["defensive"]["passing"]["epaPerPlay"], 2, 2)}</td>
                            ${produceRankHtml(breakdown["defensive"]["passing"]["epaPerPlayRank"])}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-responsive">
                    <thead>
                        <tr>
                            <th class="w-50" style="text-align: left;" colspan="1"></th>
                            <th class="text-center w-25" style="text-align: center;" colspan="1"></th>
                            <th class="text-center w-25" style="text-align: center;" colspan="1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Offense Success</td>
                            <td class="text-center">${roundNumber(breakdown["offensive"]["overall"]["successRate"] * 100, 2, 1)}%</td>
                            ${produceRankHtml(breakdown["offensive"]["overall"]["successRateRank"])}
                        </tr>
                        <tr>
                            <td class="ps-4">Pass</td>
                            <td class="text-center">${roundNumber(breakdown["offensive"]["passing"]["successRate"] * 100, 2, 1)}%</td>
                            ${produceRankHtml(breakdown["offensive"]["passing"]["successRateRank"])}
                        </tr>
                        <tr>
                            <td class="ps-4">Rush</td>
                            <td class="text-center">${roundNumber(breakdown["offensive"]["rushing"]["successRate"] * 100, 2, 1)}%</td>
                            ${produceRankHtml(breakdown["offensive"]["rushing"]["successRateRank"])}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-responsive">
                    <thead>
                        <tr>
                            <th class="w-50" style="text-align: left;" colspan="1"></th>
                            <th class="text-center w-25" style="text-align: center;" colspan="1"></th>
                            <th class="text-center w-25" style="text-align: center;" colspan="1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Defense Success</td>
                            <td class="text-center">${roundNumber(breakdown["defensive"]["overall"]["successRate"] * 100, 2, 1)}%</td>
                            ${produceRankHtml(breakdown["defensive"]["overall"]["successRateRank"])}
                        </tr>
                        <tr>
                            <td class="ps-4">Pass</td>
                            <td class="text-center">${roundNumber(breakdown["defensive"]["passing"]["successRate"] * 100, 2, 1)}%</td>
                            ${produceRankHtml(breakdown["defensive"]["passing"]["successRateRank"])}
                        </tr>
                        <tr>
                            <td class="ps-4">Rush</td>
                            <td class="text-center">${roundNumber(breakdown["defensive"]["rushing"]["successRate"] * 100, 2, 1)}%</td>
                            ${produceRankHtml(breakdown["defensive"]["rushing"]["successRateRank"])}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-responsive">
                    <thead>
                        <tr>
                            <th class="w-50" style="text-align: left;" colspan="1"></th>
                            <th class="text-center w-25" style="text-align: center;" colspan="1"></th>
                            <th class="text-center w-25" style="text-align: center;" colspan="1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Net EPA/Drive</td>
                            <td class="text-center">${generateMarginalString(breakdown["differential"]["overall"]["epaPerDrive"], 2, 2)}</td>
                            ${produceRankHtml(breakdown["differential"]["overall"]["epaPerDriveRank"])}
                        </tr>
                        <tr>
                            <td class="ps-4">Offense</td>
                            <td class="text-center">${roundNumber(breakdown["offensive"]["overall"]["epaPerDrive"], 2, 2)}</td>
                            ${produceRankHtml(breakdown["offensive"]["overall"]["epaPerDriveRank"])}
                        </tr>
                        <tr>
                            <td class="ps-4">Defense</td>
                            <td class="text-center">${roundNumber(breakdown["defensive"]["overall"]["epaPerDrive"], 2, 2)}</td>
                            ${produceRankHtml(breakdown["defensive"]["overall"]["epaPerDriveRank"])}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-responsive">
                    <thead>
                        <tr>
                            <th class="w-50" style="text-align: left;" colspan="1"></th>
                            <th class="text-center w-25" style="text-align: center;" colspan="1"></th>
                            <th class="text-center w-25" style="text-align: center;" colspan="1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w-50">Net Field Position</td>
                            <td class="text-center">${generateMarginalString(breakdown["differential"]["overall"]["startingFP"], 2, 1)}</td>
                            ${produceRankHtml(breakdown["differential"]["overall"]["startingFPRank"])}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        `;
    }


    var awayTeamBreakdown = breakdown.filter(p => p.teamId == awayTeam.id)[0]
    awayTeamBreakdown = cleanBreakdown(awayTeamBreakdown)
    var homeTeamBreakdown = breakdown.filter(p => p.teamId == homeTeam.id)[0]
    homeTeamBreakdown = cleanBreakdown(homeTeamBreakdown)
%>


<div class="container mb-3">
    <div class="row">
        <%- produceTeamSector(awayTeam, awayTeamBreakdown) %>
        <div class="col-md-12 ms-sm-auto col-lg-6">
            <div class="h3 text-center"><%- produceTeamLogoLink(awayTeam, "h3", false) %> Offense vs <%- produceTeamLogoLink(homeTeam, "h3", false) %> Defense</div>
            <div class="table-responsive">
                <table class="table table-sm table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 10% !important;" colspan="1"></th>
                            <th class="text-center" style="width: 20% !important;" colspan="1"></th>
                            <th class="text-center" style="width: 40% !important;" colspan="1"></th>
                            <th class="text-center" style="width: 20% !important;" colspan="1"></th>
                            <th class="text-center" style="width: 10% !important;" colspan="1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- produceMatchupRow("EPA/Pass", awayTeamBreakdown, homeTeamBreakdown, "offensive", "passing", "epaPerPlay") %>
                        <%- produceMatchupRow("EPA/Rush", awayTeamBreakdown, homeTeamBreakdown, "offensive", "rushing", "epaPerPlay") %>
                        <%- produceMatchupRow("Available Yards %", awayTeamBreakdown, homeTeamBreakdown, "offensive", "overall", "availableYardsPct") %>
                        <%- produceMatchupRow("Starting Field Position", awayTeamBreakdown, homeTeamBreakdown, "offensive", "overall", "startingFP") %>
                        <%- produceMatchupRow("Early Downs EPA/Play", awayTeamBreakdown, homeTeamBreakdown, "offensive", "overall", "earlyDownEPAPerPlay") %>
                        <%- produceMatchupRow("3rd/4th Down Success", awayTeamBreakdown, homeTeamBreakdown, "offensive", "overall", "lateDownSuccessRate") %>
                        <%- produceMatchupRow("Avg 3rd Down Distance", awayTeamBreakdown, homeTeamBreakdown, "offensive", "overall", "thirdDownDistance") %>
                    </tbody>
                </table>
            </div>
            <div class="h3 text-center"><%- produceTeamLogoLink(awayTeam, "h3", false) %> Defense vs <%- produceTeamLogoLink(homeTeam, "h3", false) %> Offense</div>
            <div class="table-responsive">
                <table class="table table-sm table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 10% !important;" colspan="1"></th>
                            <th class="text-center" style="width: 20% !important;" colspan="1"></th>
                            <th class="text-center" style="width: 40% !important;" colspan="1"></th>
                            <th class="text-center" style="width: 20% !important;" colspan="1"></th>
                            <th class="text-center" style="width: 10% !important;" colspan="1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- produceMatchupRow("EPA/Pass", awayTeamBreakdown, homeTeamBreakdown, "defensive", "passing", "epaPerPlay") %>
                        <%- produceMatchupRow("EPA/Rush", awayTeamBreakdown, homeTeamBreakdown, "defensive", "rushing", "epaPerPlay") %>
                        <%- produceMatchupRow("Available Yards %", awayTeamBreakdown, homeTeamBreakdown, "defensive", "overall", "availableYardsPct") %>
                        <%- produceMatchupRow("Starting FP", awayTeamBreakdown, homeTeamBreakdown, "defensive", "overall", "startingFP") %>
                        <%- produceMatchupRow("Early Downs EPA/Play", awayTeamBreakdown, homeTeamBreakdown, "defensive", "overall", "earlyDownEPAPerPlay") %>
                        <%- produceMatchupRow("3rd Down Success", awayTeamBreakdown, homeTeamBreakdown, "defensive", "overall", "thirdDownSuccessRate") %>
                        <%- produceMatchupRow("Avg 3rd Down Distance", awayTeamBreakdown, homeTeamBreakdown, "defensive", "overall", "thirdDownDistance") %>
                    </tbody>
                </table>
            </div>
        </div>
        <%- produceTeamSector(homeTeam, homeTeamBreakdown) %>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <p class="m-0 text-muted text-small">
                <small>Matchup table concept adapted from <a href="https://sumersports.com/games/2024-01-BAL-KC/">SumerSports's NFL matchup pages</a>.</small>
                <% if (awayTeamBreakdown.season || homeTeamBreakdown.season) { %>
                    <small> Ranks from <%= awayTeamBreakdown.season || homeTeamBreakdown.season %> season.</small>
                <% } %>
            </p>
            <p class="m-0 text-muted text-small"><small>This feature is in beta. Please report any issues <a href="https://github.com/saiemgilani/game-on-paper-app/issues">here</a>. Click <a href="/cfb/game/<%= game_id %>?preview_mode=old">here</a> to view the full preview page.</small></p>
        </div>
    </div>
</div>
