<div class="card border rounded">
    <div class="card-body">
        <div class="card-title mb-0">
            <div class="d-flex align-items-center align-items-start">
                <img class="h2 img img-fluid me-1" width="50px" src="https://a.espncdn.com/i/teamlogos/ncaa/500/<%= teamData.id %>.png" /> 
                <h2><%= teamData.location %></h2>
            </div>
        </div>
        <%
            let records = teamData.record;
            let overall = records.filter(item => item.type == "total")[0].displayValue
            var conf = ""
            let confRecs = records.filter(item => item.type == "vsconf")
            if (confRecs.length > 0) {
                conf = ` (Conf: ${confRecs[0].displayValue})`;
            } else {
                conf = ""
            }
        %>
        <div class="table-responsive">
            <table class="table table-sm table-responsive">
                <thead>
                    <th class="text-center"><%= season %> Record</th>
                    <th class="text-center">AP Poll</th>
                    <th class="text-center">Coaches Poll</th>
                    <th class="text-center">CFP Rank</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"><%= overall %><%= conf %></td>
                        <td class="text-center">1st</td>
                        <td class="text-center">1st</td>
                        <td class="text-center">1st</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive pe-0">
            <table class="table table-sm table-responsive">
                <caption class="text-small text-muted"">
                    <small><p class="mb-0">Stats shown as margins. EPA/Play adjusted for opponent strength by Bud Davis (<a href="https://twitter.com/jbuddavis">@JBudDavis</a>).</p>
                </caption>
                <thead>
                    <th class="text-center">EPA/Play</th>
                    <th class="text-center">Yards/Play</th>
                    <th class="text-center">AY%</th>
                    <th class="text-center">Success%</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1000.0 (1st)</td>
                        <td class="text-center">1000.0 (1st)</td>
                        <td class="text-center">1000.0 (1st)</td>
                        <td class="text-center">1000.0 (1st)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>