---
import { GLOBAL_GROUP_LIST, GLOBAL_SCHEDULE_MAP } from '../../resources/schedule';
import { AVAILABLE_SEASONS } from '../../utils/constants';

interface Props {
	year: number;
	week?: number;
	seasontype?: number;
    group?: number;
}

const { year, week, seasontype, group } = Astro.props;
---

<form class="form-picker mb-3" id="dropdown-form">
    <div class="row">
        <div class="col-lg-auto mb-3">
            <select class="form-select form-select-lg" id="yearSelect" data-selected-year={year}>
                <option value="-1">Choose Season...</option>
                {
                    AVAILABLE_SEASONS.map((s) => (
                        <option value={s} selected={(year == s)}>{s}</option>
                    ))
                }
            </select>
        </div>
        <div class="col-lg-auto mb-3">
        <select class="form-select form-select-lg" id="weekSelect" data-schedule-map={JSON.stringify(GLOBAL_SCHEDULE_MAP)} data-selected-week={week} data-selected-seasontype={seasontype}>
            <option value="-1">Choose Week...</option>
        </select>
        </div>
        <div class="col-lg-auto mb-3">
            <select class="form-select form-select-lg" id="groupSelect" data-selected-group={group}>
                {
                    GLOBAL_GROUP_LIST.map((g) => (
                        <option value={g.id} selected={group == g.id || (!group && g.id == 80)}>{g.name}</option>
                    ))
                }
            </select>
        </div>
        <div class="col-lg-auto mb-3">
            <button type="submit" class="btn btn-lg btn-primary">View</button>
        </div>
    </div>
</form>
<script>
    const yearSelect = (document.getElementById("yearSelect") as HTMLSelectElement);
    const weekSelect = (document.getElementById("weekSelect") as HTMLSelectElement);
    const groupSelect = (document.getElementById("groupSelect") as HTMLSelectElement);

    const weekDataRaw: string = weekSelect?.dataset["schedule-map"] || "{}";
    const weekData: Record<string, Record<string, string>[]> = JSON.parse(weekDataRaw);
    const selYear = yearSelect?.dataset["selected-year"] || null;
    const selWeek = weekSelect?.dataset["selected-week"] || null;
    const selSeasonType = weekSelect?.dataset["selected-seasontype"];
    const availYearKeys = Object.keys(weekData); 



    function clearSelect(id: string) {
        const select = document.getElementById(id) as HTMLSelectElement;
        if (select) {
            var length = select.options.length;
            for (let i = length-1; i >= 0; i--) {
                if (parseInt(select?.options[i].value) != -1) {
                    /* @ts-ignore */
                    select.options[i] = null; 
                }
            }
            select.selectedIndex = 0;
        }
    }

    function populateWeekSelect(val: string) {
        let yr = val || availYearKeys[0];
        clearSelect("weekSelect")
        console.log("Selected year: " + yr);
        if (parseInt(yr) != -1) {
            console.log("is valid yr");
            if (yr == null) {
                yr = availYearKeys[availYearKeys.length - 1];
                console.log("edited yr bc null: " + yr);
            }
            let selWeeks = weekData[`${yr}`] || [];
            console.log("avail weeks: " + selWeeks.length);

            var selIndex = 0;
            selWeeks.forEach((wk, idx) => {
                console.log("adding week: " + wk.label);
                var option = document.createElement("option");
                option.text = wk.label;
                option.value = `${wk.type};${wk.value}`
                if (selSeasonType && selWeek && parseInt(selSeasonType) == parseInt(wk.type) && parseInt(selWeek) == parseInt(wk.value)) {
                    selIndex = idx;
                }

                weekSelect.add(option);
            })

            weekSelect.selectedIndex = selIndex;
        }
    }

    yearSelect.selectedIndex = 0;
    if (selYear != null) {
        availYearKeys.forEach((yr, idx) => {
            if (selYear == yr) {
                console.log("setting selected to yr " + yr + " at idx " + idx);
                yearSelect.selectedIndex = idx + 1;
            }
        });
    }

    populateWeekSelect(selYear || "-1");

    yearSelect.addEventListener('change', () => {
        console.log(`Updating year to be : ${yearSelect.value}`)
        populateWeekSelect(yearSelect.value || "-1");
        weekSelect.selectedIndex = 0;
    })

document.getElementById("dropdown-form")?.addEventListener("submit", function(e) {
    e.preventDefault()
    const year = yearSelect?.value;
    const week = weekSelect?.value;
    const group = groupSelect?.value;

    let baseUrl = "/cfb/"
    if (year != "-1" && week != "-1") {
        baseUrl += `year/${year}/type/`

        var cleanWeekItems = week.split(';')
        let scheduleType = cleanWeekItems[0]
        let cleanWeek = cleanWeekItems[1]

        baseUrl += `${scheduleType}/week/${cleanWeek}`
    }

    if (group != null) {
        baseUrl += `?group=${group}`;
    }

    window.location.assign(baseUrl);
});

</script>