---
import type { ESPNCompetitor, ESPNStatus } from "../../resources/espn";
import { formatScore, getRecordString, cleanAbbreviation } from "../../utils/common";


interface Props {
    espnComp: ESPNCompetitor
    espnStatus: ESPNStatus
    isRedZone?: boolean
    hasBall: boolean
    winner: boolean
    completed: boolean
    spacer: string
}

const { espnComp, espnStatus, isRedZone, hasBall, winner, completed, spacer } = Astro.props;
const comp = (espnComp as ESPNCompetitor);
const status = (espnStatus as ESPNStatus);
const rank = comp.curatedRank?.current || 99;
const possessionClass = isRedZone ? "text-danger" : "text-primary";
const possessionMarker = hasBall ? `<span class="ms-1 ${possessionClass}">&#8226;</span>` : ''
---
<div class={`m-0 d-flex ${spacer}`}>
    <div class="d-flex me-auto">
        <img class=`float-start align-self-center me-2 team-logo-${comp.id}` height="30px" src=`https://a.espncdn.com/i/teamlogos/ncaa/500/${comp.id}.png`>
        <div class="d-flex flex-column me-3 align-self-center">
            <div class="d-flex align-items-center">
                <span class=`small text-muted ${(rank != 99) ? "me-1" : ""}`>{(rank != 99) ? ("#" + rank) : ""}</span>
                <span class="align-self-center h4 mb-0"><Fragment set:html={formatScore(cleanAbbreviation(comp.team), winner, completed)} /> <Fragment set:html={possessionMarker} /></span>
            </div>
            {getRecordString(comp)}
        </div>
    </div>
    <span class="align-self-center h4"><strong hidden={(status.type.name.includes("STATUS_SCHEDULED") || status.type.detail.includes("Cancel") || status.type.detail.includes("Postpone"))}><Fragment set:html={formatScore(comp.score, winner, completed)} /></strong></span>
</div>