---
import { cleanField, formatRank, generateColorRampValue, retrieveValue } from '../../utils/common';
import { roundNumber } from '../../utils/misc';
import { PLAYER_METRIC_CATEGORIES, PLAYER_METRIC_FORMATTING_VALUES } from '../../utils/constants';
import SummaryModel, { SummaryType, type PlayerSummary } from '../../resources/summary';

interface Props {
    season: number
    category: string
    metric: string
}

const { season, category, metric } = Astro.props;
let content = await SummaryModel.retrieveLeagueData({ year: season, type: category as SummaryType })
content = content.filter(p => {
    const nonNullValue = retrieveValue(p, metric) != null && retrieveValue(p, metric) != "NA"
    const nonNullRank = retrieveValue(p, `${metric}Rank`) != null && retrieveValue(p, `${metric}Rank`) != "NA"
    return nonNullRank && nonNullValue
})

content = content.toSorted((a, b) => {
    const compVal = parseFloat(retrieveValue(a, metric)) - parseFloat(retrieveValue(b, metric))
    return (-1 * compVal)
})

const columns = PLAYER_METRIC_CATEGORIES[category];

function generateMetricCell(player: any, c: string, m: string): string {
    const [multiplier, power10, fixed] = PLAYER_METRIC_FORMATTING_VALUES[category][m] || [1, 2, 2];
    const rank = retrieveValue(player, m + 'Rank');
    const value = parseFloat(retrieveValue(player, m)) * multiplier;
    const valString = roundNumber(value, power10, fixed) + ((m.endsWith("Rate") || m.endsWith("Pct")) ? "%" : "")
    return `
    <td class="text-center ${generateColorRampValue(rank == "NA" ? null : parseFloat(rank), content.length)}" colspan="1">${valString}</td>
    `
}

function generateMetricRow(player: any): string {
    return Object.entries(columns).map(([k, _]) => generateMetricCell(player, category, k)).join("")
}

---

<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-sm table-responsive">
                    <thead>
                        <th class="text-right" colspan="1">Rk</th>
                        <th class="text-left" colspan="1">Player</th>
                        <th class="text-center" colspan="1">Games</th>
                        {
                            Object.entries(columns).map(([k, v]) => (
                                <th class="text-center" colspan="1">{v} <i class="bi bi-arrow-down" hidden={metric != k}></i></th>
                            ))
                        }
                    </thead>
                    <tbody>
                        {
                            content.map((p) => (
                                <tr>
                                    <td class="text-right" colspan="1">{formatRank(parseFloat(retrieveValue(p, metric + `Rank`)))}</td>
                                    <td class="text-left" colspan="1"><a href={`/cfb/year/${season}/team/${p.teamId}`}><img class={`img-fluid team-logo-${p.teamId} me-2`} width="20px" src={`https://a.espncdn.com/i/teamlogos/ncaa/500/${p.teamId}.png`} alt={`ESPN team id ${p.teamId} ${cleanField(p, "name")}`} title={p.team}/><span class="visually-hidden">{cleanField(p, "team")}</span></a> <strong>{cleanField(p, "name")}</strong></td>
                                    <Fragment set:html={generateMetricCell(p, category, "statistics.games")} />
                                    <Fragment set:html={generateMetricRow(p)} />
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>