---
import type { ProcessedPassingBoxScore, ProcessedReceivingBoxScore, ProcessedRushingBoxScore } from '../../../resources/internal';
import { roundNumber } from "../../../utils/misc";

interface Props {
    pass: ProcessedPassingBoxScore[],
    rush: ProcessedRushingBoxScore[],
    receiver: ProcessedReceivingBoxScore[]
}
let { pass, rush, receiver } = Astro.props;

pass = pass.filter(p => (p.passer_player_name?.length ?? 0) > 0).toSorted((a, b) => b.EPA - a.EPA);
rush = rush.filter(p => (p.rusher_player_name?.length ?? 0) > 0).toSorted((a, b) => b.EPA - a.EPA);
receiver = receiver.filter(p => (p.receiver_player_name?.length ?? 0) > 0).toSorted((a, b) => b.EPA - a.EPA);

---
<div class="table-responsive">
    <table class="table table-sm table-responsive">
        <thead>
            <tr>
            <th rowspan="1" colspan="1"></th>
            <th rowspan="1" colspan="1" class="box-heading">Stat line</th>
            <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;">Yards/play</th>
            <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;" title="Expected Points Added per Play">EPA/play</th>
            <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;" title="Total Expected Points Added">EPA</th>
            <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;" title="Success Rate">SR</th>
            <th rowspan="1" colspan="1" class="box-heading" style="text-align: center;" title="Win Probability Added">WPA</th>
            </tr>
        </thead>
        <tbody>
            {
                (pass.length > 0) && (
                    <tr>
                        <td colspan="8" class="gt_group_heading" style="color: black; font-weight: bold;" title="Includes pass attempts and sacks.">Dropbacks</td>
                    </tr>
                )
            }
            {
                (pass.length > 0) && (pass.map((p) => (
                    <tr>
                        <td style="text-align: left;">{p.passer_player_name}</td>
                        <td style="text-align: left;">{p.Comp}/{p.Att}, {p.Yds} yd{(Math.abs(p.Yds) == 1) ? "" : "s"}, {p.Pass_TD} TD, {p.Int} INT, {p.Sck} Sck, {roundNumber(p.exp_qbr, 2, 1)} xQBR</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.YPA || 0, 2, 2)}</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.EPA_per_Play, 2, 2)}</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.EPA, 2, 2)}</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.SR * 100, 2, 0)}%</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.WPA * 100, 2, 1)}%</td>
                    </tr>
                )))
            }
            {
                (rush.length > 0) && (
                    <tr>
                        <td colspan="8" class="gt_group_heading" style="color: black; font-weight: bold;">Rush attempts</td>
                    </tr>
                )
            }
            {
                (rush.length > 0) && (rush.map((p) => (
                    <tr>
                        <td style="text-align: left;">{p.rusher_player_name}</td>
                        <td style="text-align: left;">{p.Car} carr{(Math.abs(p.Car) == 1) ? "y" : "ies"}, {p.Yds} yd{(Math.abs(p.Yds) == 1) ? "" : "s"}, {p.Rush_TD} TD, {p.Fum} Fum ({p.Fum_Lost} lost)</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.YPC || 0, 2, 2)}</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.EPA_per_Play, 2, 2)}</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.EPA, 2, 2)}</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.SR * 100, 2, 0)}%</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.WPA * 100, 2, 1)}%</td>
                    </tr>
                )))
            }
            {
                (receiver.length > 0) && (
                    <tr>
                        <td colspan="8" class="gt_group_heading" style="color: black; font-weight: bold;">Pass targets</td>
                    </tr>
                )
            }
            {
                (receiver.length > 0) && (receiver.map((p) => (
                    <tr>
                        <td style="text-align: left;">{p.receiver_player_name}</td>
                        <td style="text-align: left;">{p.Rec} catch{(Math.abs(p.Rec) == 1) ? "" : "es"} ({p.Tar} target{(Math.abs(p.Tar) == 1) ? "" : "s"}), {p.Yds} yd{(Math.abs(p.Yds) == 1) ? "" : "s"}, {p.Rec} TD, {p.Fum} Fum ({p.Fum_Lost} lost)</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.YPT || 0, 2, 2)}</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.EPA_per_Play, 2, 2)}</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.EPA, 2, 2)}</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.SR * 100, 2, 0)}%</td>
                        <td class="numeral" style="text-align: center;">{roundNumber(p.WPA * 100, 2, 1)}%</td>
                    </tr>
                )))
            }
        </tbody>
    </table>
</div>